{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Refugio de Mascotas</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav me-auto">
		 
		  
		  
		</ul>
		
	  </div>
	</div>
  </nav>
{% endblock %}
{% block content %}
<div style="text-align: center;">
	<h1>Recuperar contraseña</h1>

	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}

		<input type="submit" class="btn btn-dark" value="Enviar"/>
	</form>
</div>
{% endblock %}
