{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Refugio de Mascotas</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav me-auto">
		 
		  
		  
		</ul>
		
	  </div>
	</div>
  </nav>

{% endblock %}
{% block content %}
<div style="text-align: center;">
{% if validlink %}

<h1>Nueva contraseña</h1>

<form method="post">
{% csrf_token %}

{{ form.new_password1.errors }}
<label for="id_new_password1">Nueva contraseña:</label>
{{ form.new_password1 }}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirmar contraseña:</label>{{ form.new_password2 }}
<input type="submit" value="Cambiar mi contraseña" class="btn btn-dark"/>
</form>

{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}
</div>
{% endblock %}