{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang= es>
<head>
    <meta charset="UTF-8">
    {% block extrastatic %}
    {% endblock %}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <title>{% block title %} Document {% endblock %}</title>
</head>
<body>

<div class="container">  
   

    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Refugio de Mascotas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mascotas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'mascota_crear' %}">Registrar</a>
                  
                  <a class="dropdown-item" href="{% url 'mascota_listar' %}">Listado de mascotas</a>
                  <a class="dropdown-item" href="{% url 'mascota_listar_imagenes' %}">Fotos de mascotas</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Adopciones</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'solicitud_crear' %}">Solicitar</a>
                  <a class="dropdown-item" href="{% url 'solicitud_listar' %}">Ver solicitudes</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vacunas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'vacuna_crear' %}">Ingresar nueva vacuna</a>
                  <a class="dropdown-item" href="{% url 'vacuna_listar' %}">Listado de Vacunas</a>

                </div>
              </li>
              <ul class="nav justify-content-end">
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'registrar_usuario' %}">Registrar usuario</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'salir' %}">Salir</a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'inicio' %}">Acceder</a>
                  </li>
                
              </ul>
              
              
            </ul>
            
          </div>
        </div>
      </nav>

    {% endblock %}

  {%block content %}
  <h5>  </h5>
  {% endblock %}

   

</div>
<script src="{% static 'js/jquery-slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>