{% extends 'base/base.html' %}
{% load crispy_forms_tags %}





{% block content %}
<div style="text-align: center;">
    <h1>Formulario para agregar una nueva vacuna</h1>
</div>

    <form method="POST" action="" class="mt-2" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-dark">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'vacuna_listar' %}">Cancelar</a>
    </form>
{% endblock %}